language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '9'
  - '8'
  - '6'
after_success:
  # - npm run travis-deploy-once "npm run semantic-release"
  - npm run package
branches:
  only:
    - master
